/* Colours:
Home (Red):
#EE8683

Lights (Cyan):
#64C8C8

PC (Green):
#80B790

Apps (Yellow):
#FFC68B

Tools (Blue):
#6480C8

Purple:
#B89AE9

*/
@font-face {
  font-family: 'SimplyMono';
  src: url('./Fonts/SimplyMono-Book.ttf');
}

.card {
    border: solid black 1vh;
    box-shadow: -1vh 1vh 0px 0px rgba(0,0,0,1);
    display: block;
    position: relative;
}

.clickable:hover {
    box-shadow: none;
    cursor: pointer;
    transform: translate(-0.5vh, 0.5vh);
}